* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 640px;
    margin: auto;
}

body {
    background-color: #F5F5F5;
}

input {
    border: 1px solid #ccc;
}
p {
    word-spacing: .17rem;
}
